<h1><%= @trip.name %></h1>
<% @trip.posts.each do |post| %>
  <%= post.entry %>
<% end %>

  <p><%= link_to "Edit this trip", edit_trip_path, class: "btn btn-outline text-center" %></p>
  <p><%= link_to "Delete this trip",  @trip, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline text-center" %></p>
  <p><%= link_to "Back to all trips", trips_path, class: "btn btn-outline text-center" %></p>
