<% country = ISO3166::Country.new(post.user.country) %>
<div class="info-window">
  <h5 class="card-title py-3"><%= post.address.chomp[/^([^,])+/] %></h5>
  <p class="card-text"><strong>Highlight:</strong> <%= post.highlight %></p>
  <p class="card-text"><strong>Travel tips:</strong> <%= post.travel_tips %></p>
  <p class="small"><span class="highlight">Logged by <strong><%= post.user.first_name %> <%= post.user.last_name.chr %></strong> (<%= country.emoji_flag %>) in <%= post.date.strftime("%B %Y") %></span></p>
</div>
