<% country = ISO3166::Country.new(post.user.country) %>
<%= cl_image_tag post.cover_photo.key, height: 300, width: 400, crop: :fill %>
<p><%= post.address %></p>
<p><%= post.highlight %></p>
<p><%= post.travel_tips %></p>
<p><%= post.user.first_name %> <%= post.user.last_name %></p>
<p><%= country %>
