<div class="row">
  <div class="col-6 container">
    <% @posts.each do | post | %>
      <div>
      <% country = ISO3166::Country.new(post.user.country) %>
      <%= cl_image_tag post.cover_photo.key, height: 300, width: 400, crop: :fill %>
      <p><%= post.address %></p>
      <p><%= post.highlight %></p>
      <p><%= post.travel_tips %></p>
      <p><%= post.user.first_name %> <%= post.user.last_name %></p>
      <p><%= country %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
