<%= simple_form_for(post) do |f| %>
  <div class="py-3 fw-bold">
    <%= f.association :trip, :collection => current_user.trips,
      as: :radio_buttons,
      input_html: { class: "tag-selector" },
      item_wrapper_class: 'tag-item',
      label: 'âœˆï¸ What trip is this?' %>
    </div>
  <div class="py-3 fw-bold">
    <%= f.input :date, min: Date.today, html5: true, label: "ðŸ“… Date of post:" %>
  </div>
  <div class="py-3 fw-bold">
    <%= f.input :cover_photo, as: :file, label: 'ðŸŒƒ Please select a cover photo for this post:',
    hint: "This photo may be seen by others - you can upload private images below.",
    input_html: { class: "mb-2" } %>
  </div>
  <div class="py-3 fw-bold">
    <%= f.input :address, label: 'ðŸ“ Location:',
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
    placeholder: "You can search by country, city, zipcode or even a specific address"
  %>
  </div>
  <div class="py-3">
    <%= f.input :entry, label: 'ðŸ“ Journal entry:', input_html: { class: 'form-style' } %>
  </div>
  <div class="py-3 fw-bold">
    <%= f.input :photos, as: :file, label: 'ðŸ“· Photos (up to 10):', input_html: { multiple: true },
    hint: "These ones can only be seen by you!",
    input_html: { class: "mb-2" } %>
  </div>
  <div class="last-questions">
    <p class="fw-bold">These last 2 questions help other travellers find great places to visit</p>
    <div class=" fw-bold">
      <%= f.input :highlight, label: 'ðŸŽ‰ The highlight of your day:' %>
    </div>
    <div class=" fw-bold">
      <%= f.input :travel_tips, label: 'ðŸ™Œ Tips for future travellers that may explore here:',
      hint: "Share anything you think could be valuable - a great place to eat, a great time to arrive at a monument etc.",
      input_html: { class: "mb-2" } %>
    </div>
  </div>

  <%= f.submit "Post it", :class => "submit-button" %>
<% end %>
