<% if current_user.posts.present? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 index-page">
        <div class="container">
          <%= form_with url: posts_path, method: :get, class: "search-box" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "search-input",
              placeholder: "Search your posts"
            %>
            <%= submit_tag "ðŸ”", class: "search-button" %>
          <% end %>
          <div class="row">
            <% @posts.sort_by(&:date).reverse.each do | post | %>
                <div class="col-12 col-lg-6 g-3">
                  <%= link_to post_path(post), class: "card-cat-link" do %>
                  <div class="card mb-3 border-0 round-body ">
                    <%= cl_image_tag post.cover_photo.key, class:"card-img-top round-top" %>
                    <div class="card-body text-center">
                      <p class="card-text small fw-bold text-black"><%= post.date.strftime("%e %b %Y") %></p>
                      <h3 class="card-title pb-1 fw-bold text-black"><span class="highlight"><%= post.address.chomp[/^([^,])+/] %></span></h3>
                    </div>
                  </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0">
        <div class="maps"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
<% else %>
<div class="container py-5 my-3">
  <h2 class="text-center fw-bold py-5"><%= link_to "Go ahead, write your first post ðŸ’ª", new_post_path, class: "text-decoration-none" %></h2>
</div>
<% end %>
