<div class="container py-5">
  <% @post.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <p><%= @post.date %></p>
  <p><%= @post.address %></p>
  <p><%= @post.entry %></p>

  <p><%= link_to "Edit this post", edit_post_path, class: "btn btn-outline text-center" %></p>
  <p><%= link_to "Delete this post",  @post, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline text-center" %></p>
  <p><%= link_to "Back to all posts", posts_path, class: "btn btn-outline text-center" %></p>
</div>
